[Unit]
Description=Climate data server daemon

[Service]
StandardOutput=append:/var/log/climateDataExporter/climateArduinoExporter/out.log
StandardError=append:/var/log/climateDataExporter/climateArduinoExporter/error.log
ExecStart=/home/christer/work/mobileTemperatureServer/climateArduinoExporter.py
KillMode=process
Restart=on-failure
RestartSec=15s

[Install]
WantedBy=multi-user.target